<div class="row">
    <div class="col col-md"></div>
    <div class="col-10 col-md-8">
        <h2 class="green">Editar Pokemon</h2>
        <form  #formEdit="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <label for="name">Nombre</label>
                <input type="text"
                        id="nombre"
                        class="form-control"
                        [(ngModel)]="this.nombrePokemon"
                        name="nombre"
                        required>                       
            </div>
            <div class="form-group">
                <label for="type">Tipo</label>
                <select class="form-control" 
                id="type"
                [(ngModel)]="this.tipoPokemon"
                name="type"
                required>
                <option value="">Seleccione el Tipo</option>
                <option *ngFor="let tipo of tipos" [value]="tipo">
                    {{tipo}}
                </option>
            </select>                
            </div>
            <div class="form-group">
                <label for="image">Imagen</label>
                <input type="url"
                        class="form-control"
                        id="image"
                        [(ngModel)]="this.imagePokemon"
                        name="image"
                        required> 
                <div *ngIf="this.imagePokemon"><img src={{this.imagePokemon}} width= 90px height= 70px> </div>
                                    
            </div>
            <div class="form-group">
                <label for="attack">Ataque</label>
                <input type="range" 
                class="form-control-range" 
                id="attack"
                min="0" max="100"
                value="0"
                [(ngModel)]="this.ataquePokemon" 
                name="attack"
                required>               
            </div>
            <div class="form-group">
                <label for="defense">Defensa</label>
                <input type="range" 
                class="form-control-range" 
                id="defense"
                min="0" max="100"
                value="0"
                [(ngModel)]="this.defensaPokemon" 
                name="defense"
                required>                  
            </div>
            <div class="form-group">
                <label for="hp">HP</label>
                <input type="range" 
                class="form-control-range" 
                id="hp"
                min="0" max="100"
                value="0"
                [(ngModel)]="this.hpPokemon" 
                name="hp"
                required >                  
            </div>
            <hr>
            <button type="submit"
                    class="btn btn-success"
                    [disabled]="!formEdit.valid">Guardar Cambios</button>
            <p class="alert alert-danger"  *ngIf="!formEdit.valid">
                Por favor llene todos los campos.
            </p>
            <br>
            <a class="btn btn-warning" routerLink="/">Volver</a>
        </form>

    </div>
    <div class="col col-md"></div>
</div>


